<option {% if individual.countryOfResidence == "Afghanistan" %} selected="selected" {% endif %} value="Afganistan">
    Afghanistan</option>
<option {% if individual.countryOfResidence == "Albania" %} selected="selected" {% endif %} value="Albania">Albania
</option>
<option {% if individual.countryOfResidence == "Algeria" %} selected="selected" {% endif %} value="Algeria">Algeria
</option>
<option {% if individual.countryOfResidence == "American Samoa" %} selected="selected" {% endif %}
    value="American Samoa">American Samoa</option>
<option {% if individual.countryOfResidence == "Andorra" %} selected="selected" {% endif %} value="Andorra">Andorra
</option>
<option {% if individual.countryOfResidence == "Angola" %} selected="selected" {% endif %} value="Angola">Angola
</option>
<option {% if individual.countryOfResidence == "Anguilla" %} selected="selected" {% endif %} value="Anguilla">Anguilla
</option>
<option {% if individual.countryOfResidence == "Antigua & Barbuda" %} selected="selected" {% endif %}
    value="Antigua & Barbuda">Antigua & Barbuda</option>
<option {% if individual.countryOfResidence == "Argentina" %} selected="selected" {% endif %} value="Argentina">
    Argentina</option>
<option {% if individual.countryOfResidence == "Armenia" %} selected="selected" {% endif %} value="Armenia">Armenia
</option>
<option {% if individual.countryOfResidence == "Aruba" %} selected="selected" {% endif %} value="Aruba">Aruba</option>
<option {% if individual.countryOfResidence == "Australia" %} selected="selected" {% endif %} value="Australia">
    Australia</option>
<option {% if individual.countryOfResidence == "Austria" %} selected="selected" {% endif %} value="Austria">Austria
</option>
<option {% if individual.countryOfResidence == "Azerbaijan" %} selected="selected" {% endif %} value="Azerbaijan">
    Azerbaijan</option>
<option {% if individual.countryOfResidence == "Bahamas" %} selected="selected" {% endif %} value="Bahamas">Bahamas
</option>
<option {% if individual.countryOfResidence == "Bahrain" %} selected="selected" {% endif %} value="Bahrain">Bahrain
</option>
<option {% if individual.countryOfResidence == "Bangladesh" %} selected="selected" {% endif %} value="Bangladesh">
    Bangladesh</option>
<option {% if individual.countryOfResidence == "Barbados" %} selected="selected" {% endif %} value="Barbados">Barbados
</option>
<option {% if individual.countryOfResidence == "Belarus" %} selected="selected" {% endif %} value="Belarus">Belarus
</option>
<option {% if individual.countryOfResidence == "Belgium" %} selected="selected" {% endif %} value="Belgium">Belgium
</option>
<option {% if individual.countryOfResidence == "Belize" %} selected="selected" {% endif %} value="Belize">Belize
</option>
<option {% if individual.countryOfResidence == "Benin" %} selected="selected" {% endif %} value="Benin">Benin</option>
<option {% if individual.countryOfResidence == "Bermuda" %} selected="selected" {% endif %} value="Bermuda">Bermuda
</option>
<option {% if individual.countryOfResidence == "Bhutan" %} selected="selected" {% endif %} value="Bhutan">Bhutan
</option>
<option {% if individual.countryOfResidence == "Bolivia" %} selected="selected" {% endif %} value="Bolivia">Bolivia
</option>
<option {% if individual.countryOfResidence == "Bonaire" %} selected="selected" {% endif %} value="Bonaire">Bonaire
</option>
<option {% if individual.countryOfResidence == "Bosnia & Herzegovina" %} selected="selected" {% endif %}
    value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
<option {% if individual.countryOfResidence == "Botswana" %} selected="selected" {% endif %} value="Botswana">Botswana
</option>
<option {% if individual.countryOfResidence == "Brazil" %} selected="selected" {% endif %} value="Brazil">Brazil
</option>
<option {% if individual.countryOfResidence == "British Indian Ocean Ter" %} selected="selected" {% endif %}
    value="British Indian Ocean Ter">British Indian Ocean Ter</option>
<option {% if individual.countryOfResidence == "Brunei" %} selected="selected" {% endif %} value="Brunei">Brunei
</option>
<option {% if individual.countryOfResidence == "Bulgaria" %} selected="selected" {% endif %} value="Bulgaria">Bulgaria
</option>
<option {% if individual.countryOfResidence == "Burkina Faso" %} selected="selected" {% endif %} value="Burkina Faso">
    Burkina Faso</option>
<option {% if individual.countryOfResidence == "Burundi" %} selected="selected" {% endif %} value="Burundi">Burundi
</option>
<option {% if individual.countryOfResidence == "Cambodia" %} selected="selected" {% endif %} value="Cambodia">Cambodia
</option>
<option {% if individual.countryOfResidence == "Cameroon" %} selected="selected" {% endif %} value="Cameroon">Cameroon
</option>
<option {% if individual.countryOfResidence == "Canada" %} selected="selected" {% endif %} value="Canada">Canada
</option>
<option {% if individual.countryOfResidence == "Canary Islands" %} selected="selected" {% endif %}
    value="Canary Islands">Canary Islands</option>
<option {% if individual.countryOfResidence == "Cape Verde" %} selected="selected" {% endif %} value="Cape Verde">Cape
    Verde</option>
<option {% if individual.countryOfResidence == "Cayman Islands" %} selected="selected" {% endif %}
    value="Cayman Islands">Cayman Islands</option>
<option {% if individual.countryOfResidence == "Central African Republic" %} selected="selected" {% endif %}
    value="Central African Republic">Central African Republic</option>
<option {% if individual.countryOfResidence == "Chad" %} selected="selected" {% endif %} value="Chad">Chad</option>
<option {% if individual.countryOfResidence == "Channel Islands" %} selected="selected" {% endif %}
    value="Channel Islands">Channel Islands</option>
<option {% if individual.countryOfResidence == "Chile" %} selected="selected" {% endif %} value="Chile">Chile</option>
<option {% if individual.countryOfResidence == "China" %} selected="selected" {% endif %} value="China">China</option>
<option {% if individual.countryOfResidence == "Christmas Island" %} selected="selected" {% endif %}
    value="Christmas Island">Christmas Island</option>
<option {% if individual.countryOfResidence == "Cocos Island" %} selected="selected" {% endif %} value="Cocos Island">
    Cocos Island</option>
<option {% if individual.countryOfResidence == "Colombia" %} selected="selected" {% endif %} value="Colombia">Colombia
</option>
<option {% if individual.countryOfResidence == "Comoros" %} selected="selected" {% endif %} value="Comoros">Comoros
</option>
<option {% if individual.countryOfResidence == "Congo" %} selected="selected" {% endif %} value="Congo">Congo</option>
<option {% if individual.countryOfResidence == "Cook Islands" %} selected="selected" {% endif %} value="Cook Islands">
    Cook Islands</option>
<option {% if individual.countryOfResidence == "Costa Rica" %} selected="selected" {% endif %} value="Costa Rica">Costa
    Rica</option>
<option {% if individual.countryOfResidence == "Cote DIvoire" %} selected="selected" {% endif %} value="Cote DIvoire">
    Cote DIvoire</option>
<option {% if individual.countryOfResidence == "Croatia" %} selected="selected" {% endif %} value="Croatia">Croatia
</option>
<option {% if individual.countryOfResidence == "Cuba" %} selected="selected" {% endif %} value="Cuba">Cuba</option>
<option {% if individual.countryOfResidence == "Curacao" %} selected="selected" {% endif %} value="Curaco">Curacao
</option>
<option {% if individual.countryOfResidence == "Cyprus" %} selected="selected" {% endif %} value="Cyprus">Cyprus
</option>
<option {% if individual.countryOfResidence == "Czech Republic" %} selected="selected" {% endif %}
    value="Czech Republic">Czech Republic</option>
<option {% if individual.countryOfResidence == "Denmark" %} selected="selected" {% endif %} value="Denmark">Denmark
</option>
<option {% if individual.countryOfResidence == "Djibouti" %} selected="selected" {% endif %} value="Djibouti">Djibouti
</option>
<option {% if individual.countryOfResidence == "Dominica" %} selected="selected" {% endif %} value="Dominica">Dominica
</option>
<option {% if individual.countryOfResidence == "Dominican Republic" %} selected="selected" {% endif %}
    value="Dominican Republic">Dominican Republic</option>
<option {% if individual.countryOfResidence == "East Timor" %} selected="selected" {% endif %} value="East Timor">East
    Timor</option>
<option {% if individual.countryOfResidence == "Ecuador" %} selected="selected" {% endif %} value="Ecuador">Ecuador
</option>
<option {% if individual.countryOfResidence == "Egypt" %} selected="selected" {% endif %} value="Egypt">Egypt</option>
<option {% if individual.countryOfResidence == "El Salvador" %} selected="selected" {% endif %} value="El Salvador">El
    Salvador</option>
<option {% if individual.countryOfResidence == "Equatorial Guinea" %} selected="selected" {% endif %}
    value="Equatorial Guinea">Equatorial Guinea</option>
<option {% if individual.countryOfResidence == "Eritrea" %} selected="selected" {% endif %} value="Eritrea">Eritrea
</option>
<option {% if individual.countryOfResidence == "Estonia" %} selected="selected" {% endif %} value="Estonia">Estonia
</option>
<option {% if individual.countryOfResidence == "Ethiopia" %} selected="selected" {% endif %} value="Ethiopia">Ethiopia
</option>
<option {% if individual.countryOfResidence == "Falkland Islands" %} selected="selected" {% endif %}
    value="Falkland Islands">Falkland Islands</option>
<option {% if individual.countryOfResidence == "Faroe Islands" %} selected="selected" {% endif %} value="Faroe Islands">
    Faroe Islands</option>
<option {% if individual.countryOfResidence == "Fiji" %} selected="selected" {% endif %} value="Fiji">Fiji</option>
<option {% if individual.countryOfResidence == "Finland" %} selected="selected" {% endif %} value="Finland">Finland
</option>
<option {% if individual.countryOfResidence == "France" %} selected="selected" {% endif %} value="France">France
</option>
<option {% if individual.countryOfResidence == "French Guiana" %} selected="selected" {% endif %} value="French Guiana">
    French Guiana</option>
<option {% if individual.countryOfResidence == "French Polynesia" %} selected="selected" {% endif %}
    value="French Polynesia">French Polynesia</option>
<option {% if individual.countryOfResidence == "French Southern Ter" %} selected="selected" {% endif %}
    value="French Southern Ter">French Southern Ter</option>
<option {% if individual.countryOfResidence == "Gabon" %} selected="selected" {% endif %} value="Gabon">Gabon</option>
<option {% if individual.countryOfResidence == "Gambia" %} selected="selected" {% endif %} value="Gambia">Gambia
</option>
<option {% if individual.countryOfResidence == "Georgia" %} selected="selected" {% endif %} value="Georgia">Georgia
</option>
<option {% if individual.countryOfResidence == "Germany" %} selected="selected" {% endif %} value="Germany">Germany
</option>
<option {% if individual.countryOfResidence == "Ghana" %} selected="selected" {% endif %} value="Ghana">Ghana</option>
<option {% if individual.countryOfResidence == "Gibraltar" %} selected="selected" {% endif %} value="Gibraltar">
    Gibraltar</option>
<option {% if individual.countryOfResidence == "Great Britain" %} selected="selected" {% endif %} value="Great Britain">
    Great Britain</option>
<option {% if individual.countryOfResidence == "Greece" %} selected="selected" {% endif %} value="Greece">Greece
</option>
<option {% if individual.countryOfResidence == "Greenland" %} selected="selected" {% endif %} value="Greenland">
    Greenland</option>
<option {% if individual.countryOfResidence == "Grenada" %} selected="selected" {% endif %} value="Grenada">Grenada
</option>
<option {% if individual.countryOfResidence == "Guadeloupe" %} selected="selected" {% endif %} value="Guadeloupe">
    Guadeloupe</option>
<option {% if individual.countryOfResidence == "Guam" %} selected="selected" {% endif %} value="Guam">Guam</option>
<option {% if individual.countryOfResidence == "Guatemala" %} selected="selected" {% endif %} value="Guatemala">
    Guatemala</option>
<option {% if individual.countryOfResidence == "Guinea" %} selected="selected" {% endif %} value="Guinea">Guinea
</option>
<option {% if individual.countryOfResidence == "Guyana" %} selected="selected" {% endif %} value="Guyana">Guyana
</option>
<option {% if individual.countryOfResidence == "Haiti" %} selected="selected" {% endif %} value="Haiti">Haiti</option>
<option {% if individual.countryOfResidence == "Hawaii" %} selected="selected" {% endif %} value="Hawaii">Hawaii
</option>
<option {% if individual.countryOfResidence == "Honduras" %} selected="selected" {% endif %} value="Honduras">Honduras
</option>
<option {% if individual.countryOfResidence == "Hong Kong" %} selected="selected" {% endif %} value="Hong Kong">Hong
    Kong</option>
<option {% if individual.countryOfResidence == "Hungary" %} selected="selected" {% endif %} value="Hungary">Hungary
</option>
<option {% if individual.countryOfResidence == "Iceland" %} selected="selected" {% endif %} value="Iceland">Iceland
</option>
<option {% if individual.countryOfResidence == "Indonesia" %} selected="selected" {% endif %} value="Indonesia">
    Indonesia</option>
<option {% if individual.countryOfResidence == "India" %} selected="selected" {% endif %} value="India">India</option>
<option {% if individual.countryOfResidence == "Iran" %} selected="selected" {% endif %} value="Iran">Iran</option>
<option {% if individual.countryOfResidence == "Iraq" %} selected="selected" {% endif %} value="Iraq">Iraq</option>
<option {% if individual.countryOfResidence == "Ireland" %} selected="selected" {% endif %} value="Ireland">Ireland
</option>
<option {% if individual.countryOfResidence == "Isle of Man" %} selected="selected" {% endif %} value="Isle of Man">Isle
    of Man</option>
<option {% if individual.countryOfResidence == "Israel" %} selected="selected" {% endif %} value="Israel">Israel
</option>
<option {% if individual.countryOfResidence == "Italy" %} selected="selected" {% endif %} value="Italy">Italy</option>
<option {% if individual.countryOfResidence == "Jamaica" %} selected="selected" {% endif %} value="Jamaica">Jamaica
</option>
<option {% if individual.countryOfResidence == "Japan" %} selected="selected" {% endif %} value="Japan">Japan</option>
<option {% if individual.countryOfResidence == "Jordan" %} selected="selected" {% endif %} value="Jordan">Jordan
</option>
<option {% if individual.countryOfResidence == "Kazakhstan" %} selected="selected" {% endif %} value="Kazakhstan">
    Kazakhstan</option>
<option {% if individual.countryOfResidence == "Kenya" %} selected="selected" {% endif %} value="Kenya">Kenya</option>
<option {% if individual.countryOfResidence == "Kiribati" %} selected="selected" {% endif %} value="Kiribati">Kiribati
</option>
<option {% if individual.countryOfResidence == "Korea North" %} selected="selected" {% endif %} value="Korea North">
    Korea North</option>
<option {% if individual.countryOfResidence == "Korea South" %} selected="selected" {% endif %} value="Korea Sout">Korea
    South</option>
<option {% if individual.countryOfResidence == "Kuwait" %} selected="selected" {% endif %} value="Kuwait">Kuwait
</option>
<option {% if individual.countryOfResidence == "Kyrgyzstan" %} selected="selected" {% endif %} value="Kyrgyzstan">
    Kyrgyzstan</option>
<option {% if individual.countryOfResidence == "Laos" %} selected="selected" {% endif %} value="Laos">Laos</option>
<option {% if individual.countryOfResidence == "Latvia" %} selected="selected" {% endif %} value="Latvia">Latvia
</option>
<option {% if individual.countryOfResidence == "Lebanon" %} selected="selected" {% endif %} value="Lebanon">Lebanon
</option>
<option {% if individual.countryOfResidence == "Lesotho" %} selected="selected" {% endif %} value="Lesotho">Lesotho
</option>
<option {% if individual.countryOfResidence == "Liberia" %} selected="selected" {% endif %} value="Liberia">Liberia
</option>
<option {% if individual.countryOfResidence == "Libya" %} selected="selected" {% endif %} value="Libya">Libya</option>
<option {% if individual.countryOfResidence == "Liechtenstein" %} selected="selected" {% endif %} value="Liechtenstein">
    Liechtenstein</option>
<option {% if individual.countryOfResidence == "Lithuania" %} selected="selected" {% endif %} value="Lithuania">
    Lithuania</option>
<option {% if individual.countryOfResidence == "Luxembourg" %} selected="selected" {% endif %} value="Luxembourg">
    Luxembourg</option>
<option {% if individual.countryOfResidence == "Macau" %} selected="selected" {% endif %} value="Macau">Macau</option>
<option {% if individual.countryOfResidence == "Macedonia" %} selected="selected" {% endif %} value="Macedonia">
    Macedonia</option>
<option {% if individual.countryOfResidence == "Madagascar" %} selected="selected" {% endif %} value="Madagascar">
    Madagascar</option>
<option {% if individual.countryOfResidence == "Malaysia" %} selected="selected" {% endif %} value="Malaysia">Malaysia
</option>
<option {% if individual.countryOfResidence == "Malawi" %} selected="selected" {% endif %} value="Malawi">Malawi
</option>
<option {% if individual.countryOfResidence == "Maldives" %} selected="selected" {% endif %} value="Maldives">Maldives
</option>
<option {% if individual.countryOfResidence == "Mali" %} selected="selected" {% endif %} value="Mali">Mali</option>
<option {% if individual.countryOfResidence == "Malta" %} selected="selected" {% endif %} value="Malta">Malta</option>
<option {% if individual.countryOfResidence == "Marshall Islands" %} selected="selected" {% endif %}
    value="Marshall Islands">Marshall Islands</option>
<option {% if individual.countryOfResidence == "Martinique" %} selected="selected" {% endif %} value="Martinique">
    Martinique</option>
<option {% if individual.countryOfResidence == "Mauritania" %} selected="selected" {% endif %} value="Mauritania">
    Mauritania</option>
<option {% if individual.countryOfResidence == "Mauritius" %} selected="selected" {% endif %} value="Mauritius">
    Mauritius</option>
<option {% if individual.countryOfResidence == "Mayotte" %} selected="selected" {% endif %} value="Mayotte">Mayotte
</option>
<option {% if individual.countryOfResidence == "Mexico" %} selected="selected" {% endif %} value="Mexico">Mexico
</option>
<option {% if individual.countryOfResidence == "Midway Islands" %} selected="selected" {% endif %}
    value="Midway Islands">Midway Islands</option>
<option {% if individual.countryOfResidence == "Moldova" %} selected="selected" {% endif %} value="Moldova">Moldova
</option>
<option {% if individual.countryOfResidence == "Monaco" %} selected="selected" {% endif %} value="Monaco">Monaco
</option>
<option {% if individual.countryOfResidence == "Mongolia" %} selected="selected" {% endif %} value="Mongolia">Mongolia
</option>
<option {% if individual.countryOfResidence == "Montserrat" %} selected="selected" {% endif %} value="Montserrat">
    Montserrat</option>
<option {% if individual.countryOfResidence == "Morocco" %} selected="selected" {% endif %} value="Morocco">Morocco
</option>
<option {% if individual.countryOfResidence == "Mozambique" %} selected="selected" {% endif %} value="Mozambique">
    Mozambique</option>
<option {% if individual.countryOfResidence == "Myanmar" %} selected="selected" {% endif %} value="Myanmar">Myanmar
</option>
<option {% if individual.countryOfResidence == "Nambia" %} selected="selected" {% endif %} value="Nambia">Nambia
</option>
<option {% if individual.countryOfResidence == "Nauru" %} selected="selected" {% endif %} value="Nauru">Nauru</option>
<option {% if individual.countryOfResidence == "Nepal" %} selected="selected" {% endif %} value="Nepal">Nepal</option>
<option {% if individual.countryOfResidence == "Netherland Antilles" %} selected="selected" {% endif %}
    value="Netherland Antilles">Netherland Antilles</option>
<option {% if individual.countryOfResidence == "Netherlands (Holland, Europe)" %} selected="selected" {% endif %}
    value="Netherlands">Netherlands (Holland, Europe)</option>
<option {% if individual.countryOfResidence == "Nevis" %} selected="selected" {% endif %} value="Nevis">Nevis</option>
<option {% if individual.countryOfResidence == "New Caledonia" %} selected="selected" {% endif %} value="New Caledonia">
    New Caledonia</option>
<option {% if individual.countryOfResidence == "New Zealand" %} selected="selected" {% endif %} value="New Zealand">New
    Zealand</option>
<option {% if individual.countryOfResidence == "Nicaragua" %} selected="selected" {% endif %} value="Nicaragua">
    Nicaragua</option>
<option {% if individual.countryOfResidence == "Niger" %} selected="selected" {% endif %} value="Niger">Niger</option>
<option {% if individual.countryOfResidence == "Nigeria" %} selected="selected" {% endif %} value="Nigeria">Nigeria
</option>
<option {% if individual.countryOfResidence == "Niue" %} selected="selected" {% endif %} value="Niue">Niue</option>
<option {% if individual.countryOfResidence == "Norfolk Island" %} selected="selected" {% endif %}
    value="Norfolk Island">Norfolk Island</option>
<option {% if individual.countryOfResidence == "Norway" %} selected="selected" {% endif %} value="Norway">Norway
</option>
<option {% if individual.countryOfResidence == "Oman" %} selected="selected" {% endif %} value="Oman">Oman</option>
<option {% if individual.countryOfResidence == "Pakistan" %} selected="selected" {% endif %} value="Pakistan">Pakistan
</option>
<option {% if individual.countryOfResidence == "Palau Island" %} selected="selected" {% endif %} value="Palau Island">
    Palau Island</option>
<option {% if individual.countryOfResidence == "Palestine" %} selected="selected" {% endif %} value="Palestine">
    Palestine</option>
<option {% if individual.countryOfResidence == "Panama" %} selected="selected" {% endif %} value="Panama">Panama
</option>
<option {% if individual.countryOfResidence == "Papua New Guinea" %} selected="selected" {% endif %}
    value="Papua New Guinea">Papua New Guinea</option>
<option {% if individual.countryOfResidence == "Paraguay" %} selected="selected" {% endif %} value="Paraguay">Paraguay
</option>
<option {% if individual.countryOfResidence == "Peru" %} selected="selected" {% endif %} value="Peru">Peru</option>
<option {% if individual.countryOfResidence == "Philippines" %} selected="selected" {% endif %} value="Phillipines">
    Philippines</option>
<option {% if individual.countryOfResidence == "Pitcairn Island" %} selected="selected" {% endif %}
    value="Pitcairn Island">Pitcairn Island</option>
<option {% if individual.countryOfResidence == "Poland" %} selected="selected" {% endif %} value="Poland">Poland
</option>
<option {% if individual.countryOfResidence == "Portugal" %} selected="selected" {% endif %} value="Portugal">Portugal
</option>
<option {% if individual.countryOfResidence == "Puerto Rico" %} selected="selected" {% endif %} value="Puerto Rico">
    Puerto Rico</option>
<option {% if individual.countryOfResidence == "Qatar" %} selected="selected" {% endif %} value="Qatar">Qatar</option>
<option {% if individual.countryOfResidence == "Republic of Montenegro" %} selected="selected" {% endif %}
    value="Republic of Montenegro">Republic of Montenegro</option>
<option {% if individual.countryOfResidence == "Republic of Serbia" %} selected="selected" {% endif %}
    value="Republic of Serbia">Republic of Serbia</option>
<option {% if individual.countryOfResidence == "Reunion" %} selected="selected" {% endif %} value="Reunion">Reunion
</option>
<option {% if individual.countryOfResidence == "Romania" %} selected="selected" {% endif %} value="Romania">Romania
</option>
<option {% if individual.countryOfResidence == "Russia" %} selected="selected" {% endif %} value="Russia">Russia
</option>
<option {% if individual.countryOfResidence == "Rwanda" %} selected="selected" {% endif %} value="Rwanda">Rwanda
</option>
<option {% if individual.countryOfResidence == "St Barthelemy" %} selected="selected" {% endif %} value="St Barthelemy">
    St Barthelemy</option>
<option {% if individual.countryOfResidence == "St Eustatius" %} selected="selected" {% endif %} value="St Eustatius">St
    Eustatius</option>
<option {% if individual.countryOfResidence == "St Helena" %} selected="selected" {% endif %} value="St Helena">St
    Helena</option>
<option {% if individual.countryOfResidence == "St Kitts-Nevis" %} selected="selected" {% endif %}
    value="St Kitts-Nevis">St Kitts-Nevis</option>
<option {% if individual.countryOfResidence == "St Lucia" %} selected="selected" {% endif %} value="St Lucia">St Lucia
</option>
<option {% if individual.countryOfResidence == "St Maarten" %} selected="selected" {% endif %} value="St Maarten">St
    Maarten</option>
<option {% if individual.countryOfResidence == "St Pierre & Miquelon" %} selected="selected" {% endif %}
    value="St Pierre & Miquelon">St Pierre & Miquelon</option>
<option {% if individual.countryOfResidence == "St Vincent & Grenadines" %} selected="selected" {% endif %}
    value="St Vincent & Grenadines">St Vincent & Grenadines</option>
<option {% if individual.countryOfResidence == "Saipan" %} selected="selected" {% endif %} value="Saipan">Saipan
</option>
<option {% if individual.countryOfResidence == "Samoa" %} selected="selected" {% endif %} value="Samoa">Samoa</option>
<option {% if individual.countryOfResidence == "Samoa American" %} selected="selected" {% endif %}
    value="Samoa American">Samoa American</option>
<option {% if individual.countryOfResidence == "San Marino" %} selected="selected" {% endif %} value="San Marino">San
    Marino</option>
<option {% if individual.countryOfResidence == "Sao Tome & Principe" %} selected="selected" {% endif %}
    value="Sao Tome & Principe">Sao Tome & Principe</option>
<option {% if individual.countryOfResidence == "Saudi Arabia" %} selected="selected" {% endif %} value="Saudi Arabia">
    Saudi Arabia</option>
<option {% if individual.countryOfResidence == "Senegal" %} selected="selected" {% endif %} value="Senegal">Senegal
</option>
<option {% if individual.countryOfResidence == "Seychelles" %} selected="selected" {% endif %} value="Seychelles">
    Seychelles</option>
<option {% if individual.countryOfResidence == "Sierra Leone" %} selected="selected" {% endif %} value="Sierra Leone">
    Sierra Leone</option>
<option {% if individual.countryOfResidence == "Singapore" %} selected="selected" {% endif %} value="Singapore">
    Singapore</option>
<option {% if individual.countryOfResidence == "Slovakia" %} selected="selected" {% endif %} value="Slovakia">Slovakia
</option>
<option {% if individual.countryOfResidence == "Slovenia" %} selected="selected" {% endif %} value="Slovenia">Slovenia
</option>
<option {% if individual.countryOfResidence == "Solomon Islands" %} selected="selected" {% endif %}
    value="Solomon Islands">Solomon Islands</option>
<option {% if individual.countryOfResidence == "Somalia" %} selected="selected" {% endif %} value="Somalia">Somalia
</option>
<option {% if individual.countryOfResidence == "South Africa" %} selected="selected" {% endif %} value="South Africa">
    South Africa</option>
<option {% if individual.countryOfResidence == "Spain" %} selected="selected" {% endif %} value="Spain">Spain</option>
<option {% if individual.countryOfResidence == "Sri Lanka" %} selected="selected" {% endif %} value="Sri Lanka">Sri
    Lanka</option>
<option {% if individual.countryOfResidence == "Sudan" %} selected="selected" {% endif %} value="Sudan">Sudan</option>
<option {% if individual.countryOfResidence == "Suriname" %} selected="selected" {% endif %} value="Suriname">Suriname
</option>
<option {% if individual.countryOfResidence == "Swaziland" %} selected="selected" {% endif %} value="Swaziland">
    Swaziland</option>
<option {% if individual.countryOfResidence == "Sweden" %} selected="selected" {% endif %} value="Sweden">Sweden
</option>
<option {% if individual.countryOfResidence == "Switzerland" %} selected="selected" {% endif %} value="Switzerland">
    Switzerland</option>
<option {% if individual.countryOfResidence == "Syria" %} selected="selected" {% endif %} value="Syria">Syria</option>
<option {% if individual.countryOfResidence == "Tahiti" %} selected="selected" {% endif %} value="Tahiti">Tahiti
</option>
<option {% if individual.countryOfResidence == "Taiwan" %} selected="selected" {% endif %} value="Taiwan">Taiwan
</option>
<option {% if individual.countryOfResidence == "Tajikistan" %} selected="selected" {% endif %} value="Tajikistan">
    Tajikistan</option>
<option {% if individual.countryOfResidence == "Tanzania" %} selected="selected" {% endif %} value="Tanzania">Tanzania
</option>
<option {% if individual.countryOfResidence == "Thailand" %} selected="selected" {% endif %} value="Thailand">Thailand
</option>
<option {% if individual.countryOfResidence == "Togo" %} selected="selected" {% endif %} value="Togo">Togo</option>
<option {% if individual.countryOfResidence == "Tokelau" %} selected="selected" {% endif %} value="Tokelau">Tokelau
</option>
<option {% if individual.countryOfResidence == "Tonga" %} selected="selected" {% endif %} value="Tonga">Tonga</option>
<option {% if individual.countryOfResidence == "Trinidad & Tobago" %} selected="selected" {% endif %}
    value="Trinidad & Tobago">Trinidad & Tobago</option>
<option {% if individual.countryOfResidence == "Tunisia" %} selected="selected" {% endif %} value="Tunisia">Tunisia
</option>
<option {% if individual.countryOfResidence == "Turkey" %} selected="selected" {% endif %} value="Turkey">Turkey
</option>
<option {% if individual.countryOfResidence == "Turkmenistan" %} selected="selected" {% endif %} value="Turkmenistan">
    Turkmenistan</option>
<option {% if individual.countryOfResidence == "Turks & Caicos Is" %} selected="selected" {% endif %}
    value="Turks & Caicos Is">Turks & Caicos Is</option>
<option {% if individual.countryOfResidence == "Tuvalu" %} selected="selected" {% endif %} value="Tuvalu">Tuvalu
</option>
<option {% if individual.countryOfResidence == "Uganda" %} selected="selected" {% endif %} value="Uganda">Uganda
</option>
<option {% if individual.countryOfResidence == "United Kingdom" %} selected="selected" {% endif %}
    value="United Kingdom">United Kingdom</option>
<option {% if individual.countryOfResidence == "Ukraine" %} selected="selected" {% endif %} value="Ukraine">Ukraine
</option>
<option {% if individual.countryOfResidence == "United Arab Emirates" %} selected="selected" {% endif %}
    value="United Arab Erimates">United Arab Emirates</option>
<option {% if individual.countryOfResidence == "United States of America" %} selected="selected" {% endif %}
    value="United States of America">United States of America</option>
<option {% if individual.countryOfResidence == "Uruguay" %} selected="selected" {% endif %} value="Uraguay">Uruguay
</option>
<option {% if individual.countryOfResidence == "Uzbekistan" %} selected="selected" {% endif %} value="Uzbekistan">
    Uzbekistan</option>
<option {% if individual.countryOfResidence == "Vanuatu" %} selected="selected" {% endif %} value="Vanuatu">Vanuatu
</option>
<option {% if individual.countryOfResidence == "Vatican City State" %} selected="selected" {% endif %}
    value="Vatican City State">Vatican City State</option>
<option {% if individual.countryOfResidence == "Venezuela" %} selected="selected" {% endif %} value="Venezuela">
    Venezuela</option>
<option {% if individual.countryOfResidence == "Vietnam" %} selected="selected" {% endif %} value="Vietnam">Vietnam
</option>
<option {% if individual.countryOfResidence == "Virgin Islands (Brit)" %} selected="selected" {% endif %}
    value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
<option {% if individual.countryOfResidence == "Virgin Islands (USA)" %} selected="selected" {% endif %}
    value="Virgin Islands (USA)">Virgin Islands (USA)</option>
<option {% if individual.countryOfResidence == "Wake Island" %} selected="selected" {% endif %} value="Wake Island">Wake
    Island</option>
<option {% if individual.countryOfResidence == "Wallis & Futana Is" %} selected="selected" {% endif %}
    value="Wallis & Futana Is">Wallis & Futana Is</option>
<option {% if individual.countryOfResidence == "Yemen" %} selected="selected" {% endif %} value="Yemen">Yemen</option>
<option {% if individual.countryOfResidence == "Zaire" %} selected="selected" {% endif %} value="Zaire">Zaire</option>
<option {% if individual.countryOfResidence == "Zambia" %} selected="selected" {% endif %} value="Zambia">Zambia
</option>
<option {% if individual.countryOfResidence == "Zimbabwe" %} selected="selected" {% endif %} value="Zimbabwe">Zimbabwe
</option>